.nav-list .list{
  background: transparent;
  padding: 0 0 4px 0;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  font-weight: 600;
}
.nav-list .active{
  color:var(--clr-focussed);
  border-bottom: 2px solid var(--clr-focussed);
}
.nav-list:hover .active{
  color:var(--clr-secondary);
  border-bottom: 2px solid transparent;
}
.nav-list .list:hover{
  color:var(--clr-focussed);
  border-bottom: 2px solid var(--clr-focussed);
}