
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  /* text-colors */
  --clr-primary: #171515;
  --clr-secondary: #555555;
  --clr-light-gray:#c1bebe;
  --clr-focussed: #28C8A4;

  --clr-white: #ffffff;

  /* background-colors */
  --bg-primary: #f4f5f5;
  --bg-secondary: #e0e0f1;
  --clr-warning: #F7B217;
  --clr-success: #51b6ca;
  --clr-error: #EC4034;
}

body{
  font-size:0.825rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-primary);
  color:var(--clr-primary);
}

/* global
--------------- */
img {
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  line-height: 1;
}

h1{
  font-size: 2.5em;
  font-weight: 700;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.75em;
}
h4{
  font-size: 1.25em;
}
h5{
  font-size: 1.2em;
}
h6{
  font-size: 1em;
}



.btn1{
  padding: 8px 20px;
  background: var(--clr-focussed);
  color:var(--clr-white);
  font-size: 1rem;
  border: 2px solid var(--clr-focussed);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn1:hover{
  color: var(--clr-focussed);
  border: 2px solid var(--clr-focussed);
  background: transparent;
}
@media screen and (min-width: 768px ) {
  body{
    font-size: 1rem;
  }
  .btn{
    padding: 10px 20px;
  }
}